#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.img-container{
  margin: auto;
  width: 30%;
}


.mainpic{
  width: 100%;
}

form input{
  height: 35px;
  border-radius: 12px;
}

header{
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header p{
  margin: 0%;
}

 .user{
  display: flex;
  height: 40px;
  margin-bottom: auto;
}

.user img{
  border-radius: 50%;
  height: 100%;
  margin: auto 10px auto 0px;
}

.Sign-in-container{
  color: black;
}


.search-results{
  display: flex;
  flex-wrap: wrap;
  
}



.search-img-container {
  margin: 0 auto;
  width: 30%;
  height: max-content;

}

.search-img-container img {
  width: 90%;
  cursor: pointer;
  border-radius: 12px;
}

.search-img-container img:hover {
  width: 100%;
 

}



.profile-detail:hover{
  cursor: pointer;
  
}

.logo-slogan:hover{
  cursor: pointer;
}

.correction i{
  color: black;
  
}

.search-info{
  display: flex;
 justify-content: center;
 gap: 15px;
}

.search-info div{
  display: flex;
  align-items: center;
}

.saved-pucks{
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
}

.saved-pucks div{
  margin: 0 auto;
 width: 30%;
}


.saved-pucks div img{
  width: 100%;
 }